
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=reprint_api
PORT=3000
JWT_SECRET=
NODE_ENV=
APP_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="RePrint 3D <no-reply@reprint.co.za>"
PAYFAST_MERCHANT_ID=10000100
PAYFAST_MERCHANT_KEY=46f0cd694581a
PAYFAST_PASSPHRASE=
PAYFAST_SANDBOX=true
PAYFAST_USE_LOCAL_SIMULATOR=true